.ItemCard {
    border: 1px solid #0d6efd;
    border-radius: 5px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__Image {
        height: 125px;
        width: 125px;
        filter: opacity(0.4) drop-shadow(0 0 0 red);
    }
}
