@use "./../../scss/partials/devices";

.ProductInfo {
    display: flex;

    @include devices.phone {
        flex-direction: column;
    }

    &__Container {
        padding: 50px;
    }

    &__Image {
        margin: 50px;
        height: 350px;
        // grid-column: 0 span / 1;
    }

    &__Button {
        background-color: #0d6efd;
        border-radius: 5px;
        height: 30px;
        width: 100px;
        margin-left: 20px;

        color: white;
    }

    &__Icon {
        color: red;
    }
}
